<%= form_with(model: template) do |form| %>
  <% if template.errors.any? %>
    <div style="color: red">
      <h4><%= pluralize(template.errors.count, "error") %> prohibited this template from being saved:</h4>

      <ul>
        <% template.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: 'form-label' %>
    <%= form.text_field :name, class: 'form-control', required: '' %>
  </div>

  <div class="mb-4" data-controller="template">
    <h4 for="" class="form-label">Exercises 
      <i class="bi bi-plus-circle text text-primary" data-action="click->template#append_one" style="cursor:pointer"> </i>
    </h4>
    <% index = 1%>
    <%= form.fields_for :defined_items do |item_form|%>
      <div class="row g-3 p-1" data-template-target="exercise" id="<%= "exercise-#{index}"%>">
        <div class="col">
          <%= item_form.collection_select :exercise_id, Exercise.sys_and(current_user).all, :id, :name, {}, class: 'form-select'%>
        </div>
        <div class="col-1">
          <label for="set" class="col-form-label">Sets</label>
        </div>
        <div class="col-2">
          <%= item_form.number_field(:set, class: 'form-control', min: '1') %>
        </div>
        <div class="col-1">
          <label for="" class="col-form-label">
            <i class="bi bi-dash-circle" style="cursor: pointer" data-action="click->template#remove" data-index="<%= index %>"></i>
            <% index += 1 %>
          </label>
        </div>
      </div>
    <% end %>
  </div>


  <div>
    <%= form.submit(class: 'btn btn-outline-primary')%>
  </div>
<% end %>
