<nav class="navbar navbar-expand-lg bg-body-tertiary" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Stronger</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link <%= is_active('/')%>" href="/">Home</a>
        <%= link_to 'Exercise', exercises_path, class: 'nav-link' + is_active(exercises_path) %>
        <%= link_to 'Template', templates_path, class: 'nav-link' + is_active(templates_path) %>
        <%= link_to 'History', events_path, class: 'nav-link' + is_active(events_path) %>
        <%= button_to 'Logout', destroy_user_session_path, method: 'delete', class:'nav-link link-danger', data:{turbo_method: 'delete'}%>
      </div>
    </div>
  </div>
</nav>

