<turbo-frame id="cardio">
    <%= form_with(model: record) do |f| %>
        <div class="row mb-2">
            <div class="col-auto">
                <%= f.label(:distance, class: 'col-form-label') %>
            </div>
            <div class="col-auto">
                <%= f.number_field(:distance, class: 'form-control', min: 1)%>
            </div>
            <div class="col-auto">
                <%= f.label(:duration, class: 'col-form-label') %>
            </div>
            <div class="col-auto">
                <%= f.number_field(:duration, class: 'form-control', min: 1)%>
            </div>
            <div class="col-auto">
                <%= f.submit(class: 'btn btn-outline-success', value: 'Save')%>
            </div>
            <%= render(partial: 'home/flag', locals: { msg: msg })%>
            <%= f.hidden_field(:event_id) %>
        </div>
    <% end %>
    <%= render(partial: 'home/errors', locals: {record: record})%>
</turbo-frame>
