<div class="my-4">
  <h4 class="text text-secondary"><%= event.name %></h4>
</div>

<div class="mb-4">
  <% event.config.each do |item|%>
    <div class="row mb-4">
      <strong class="text-secondary text mb-2"><%= item[:name]%></strong>
        <% item[:records].each do |record| %>
          <%= render 'cardio_form', record: record, msg: nil if record.type.eql?('CardioRecord')%>
          <%= render 'duration_form', record: record, msg: nil if record.type.eql?('DurationRecord')%>
          <%= render 'strength_form', record: record, msg: nil if record.type.eql?('StrengthRecord')%>
          <%= render 'reps_only_form', record: record, msg: nil if record.type.eql?('RepsOnlyRecord')%>
        <% end #each%>
    </div>
  <% end #each%>
</div>

<div class="mb-4 row">
  <div class="col-auto">
    <%= link_to 'Cancel', '/', class: 'btn btn-outline-dark' %>
  </div>
</div>
