<div id="<%= dom_id exercise %>">
  <p>
    <strong>Name:</strong>
    <%= exercise.name %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= exercise.image %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= exercise.category_id %>
  </p>

  <p>
    <strong>Body part:</strong>
    <%= exercise.body_part_id %>
  </p>

  <p>
    <strong>User:</strong>
    <%= exercise.user_id %>
  </p>

</div>
