<%= form_with(model: exercise) do |form| %>
  <% if exercise.errors.any? %>
    <div style="color: red">
      <h4><%= pluralize(exercise.errors.count, "error") %> prohibited this exercise from being saved:</h4>

      <ul>
        <% exercise.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group mb-4">
    <%= form.label :name, class: "form-label"%>
    <%= form.text_field :name, class: 'form-control' %>
  </div>

  <div class="form-group mb-4">
    <%= form.label :image, class: "form-label"%>
    <%= form.text_field :image, class: 'form-control' %>
  </div>

  <div class="form-group mb-4">
    <%= form.label :category_id, class: "form-label"%>
    <%= form.collection_select :category_id, Category.order('created_at DESC'), :id, :name, {}, class: 'form-select' %>
  </div>

  <div class="form-group mb-4">
    <%= form.label :body_part_id, class: "form-label"%>
    <%= form.collection_select :body_part_id, BodyPart.order('created_at DESC'), :id, :name, {}, class: 'form-select' %>
  </div>

  <div class="form-group mb-4">
    <%= form.label :description, class: "form-label"%>
    <%= form.text_area :description, class: 'form-control', rows: 5 %>
  </div>

  <div class="form-group mb-4">
    <%= form.submit(class: 'btn btn-outline-primary') %>
  </div>
<% end %>
